<div id="debtor_summary">
  <% if (totalCredit > 0 && debtors.length > 0) { %>
  <table class="table" id="debtors_table">
    <tr>
      <th>Friends owe you</th>
      <th><%= totalCredit %></th> 
    </tr>
    <% _.each(debtors, function (debtor, index) { %>
    <tr
      class="friend-row"
      data-type="credit"
      data-id="<%= debtor.get('id') %>"
    >
      <td><%= debtor.get('email') %></td>
      <td><%= debtor.get('balance') %></td>
    </tr>
    <% }); %>
  </table>
  <% } else { %> 
  <div class="jumbotron">
    <p>Don't nobody owe you nothin!</a>
  </div>
  <% } %>
</div>

<div id="creditor_summary">
  <% if (totalDebt > 0 && creditors.length > 0) { %>
  <table class="table" id="creditors_table">
    <tr>
      <th>You owe friends</th>
      <th><%= totalDebt %></th> 
    </tr>
    <% _.each(creditors, function (creditor, index) { %>
    <tr
      class="friend-row"
      data-type="debt"
      data-id="<%= creditor.get('id') %>"
    >
      <td><%= creditor.get('email') %></td>
      <td><%= creditor.get('balance') * -1 %></td>
    </tr>
    <% }); %>
  </table>
  <% } else { %> 
  <div class="jumbotron">
    <p>You don't owe nothin' to nobody! Get down with your fiscally sound self!</a>
  </div>
  <% } %>
</div>
