<h1><%= transaction.get('description') %></h1>
<table class="table">
  <tr>
    <th></th>
    <th><%= transaction.get('total') %></th>
  </tr>
  <% _.each(creditor, function (value, key) { %>
    <tr class="creditor-row">
      <td><%= escape(key) %></td>
      <td><%= escape(value) %></td>
    </tr>
  <% }); %>
  <% _.each(debtors, function (value, key) { %>
    <tr class="debtor-row">
      <td><%= escape(key) %></td>
      <td><%= escape(value) %></td>
    </tr>
  <% }); %>
</table>
